.App {
  text-align: center;
  height: 100vh;
}

.projectGrid {
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  padding-left: 7vw;
  padding-right: 7vw;
}

.projectCard {
  border: 2px solid black;
  margin: 1vw 1vw 1vw 1vw;
  width: fit-content;
  height: fit-content;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.projectOne {
  background: url('./images/Project1\ Game\ Page.png') no-repeat center center
    fixed;
  -webkit-background-size: 200px;
  -moz-background-size: 200px;
  -o-background-size: 200px;
  background-size: 200px;
}

.nav-bar {
  display: flex;
  /* visibility: collapse; */
  /* direction: rtl; */
  /* flex-direction: column; */
  justify-content: space-evenly;
}

.nav-link {
  display: flex;
  flex-direction: row;
  background-color: blanchedalmond;
  width: 100vw;
}

a {
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  justify-content: center;
  padding: 2vh 1vw 2vh 1vw;
  background-color: blanchedalmond;
  width: 25vw;
}

a:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-icon {
  width: fit-content;
  font-size: 4rem;
  margin: 1em 0.2em 1em 0.2em;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* padding-left: 5vw;
  padding-right: 5vw; */
  border-radius: 24px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 32px 32px 64px #666666, -32px -32px 64px #ffffff;
  width: fit-content;
  margin: auto;
}
.skill-icon {
  font-size: 5rem;
  border-radius: 15px;
  background: #eff0ef;
  box-shadow: 5px 5px 8px #cbcccb, -5px -5px 8px #ffffff;
  padding: 0.1em;
  margin: 0.4em 0.4em 0.4em 0.4em;
}
